@import 'variables';

.he-price-list {
	display: table;
	width: 100%;

	&__item {
		display: table-row !important;
		font-weight: normal !important;

		&:hover {
			background: rgba(0,0,0,0.5);
		}
	}

	&__cell {
		display: table-cell;
    padding: 5px $padding-med/2;
    vertical-align: middle;
		border-top: 1px solid #333;

		&:first-child {
			padding-left: $padding-med;
		}

		&:last-child {
			padding-right: $padding-med;
		}

		&--right {
			text-align: right;
		}
	}
}
